{% extends 'base_top.html' %}
{% block title %}
<title>天天生鲜-购物车</title>
{% endblock title %}

{% block head %}
<script>

    $(function () {

        function total() {
            {#                小记和总计#}
            var zongji = 0;
            $('.col07').each(function () {
                var count = $(this).prev().children().find('input').val()
                var price = $(this).prev().prev().html();
                price = price.substring(0,price.length-1);
                var xiaoji = parseFloat(count)*parseFloat(price);

                if ($(this).parent().children(":first").find('input').is(':checked')){
                    zongji+=xiaoji;
                }
                $(this).html(xiaoji.toFixed(2)+'元')

            });
            $('.col03 em').html(zongji.toFixed(2)+'元')
        }

        {#            函数：被选中的有几个#}
        function checke_num() {
            var length = $(":checked").not('.settlements .col01 input').length
            $('.settlements .col03 b').html(length)
        }

        {#            记算全部商品件数函数#}
        function jishu() {
            var em = $('.total_count em');
            var num = parseInt(em.html());
            em.html(num-=1);
        }

        total();
        checke_num();


        {#            点击事件#}
        $('.add').click(function () {
            var next = $(this).next()
            var num =next.val();
            num = parseInt(num)+1;
            next.val(num);
            $(this).next().blur();
            total();
        });
        $('.minus').click(function () {
            var prev = $(this).prev()
            var num =prev.val();
            num-=1;
            if (num<0){
                num=0;
                alert('请输入正确的数量！')
            }
            prev.val(num);
            $(this).prev().blur();
            total();
        });

        {#            全选全消#}
        $('.settlements .col01 input').click(function () {
            var status = $(this).prop('checked');
            {#                所有类型为checkbox的inpout元素，除全消的input之外#}
            $(":checkbox").not('.settlements .col01 input').prop('checked', status)
            total();
            checke_num();
        });

        {#            所有被选中的 input 元素，除去全选全消这个元素#}
        $(":checked").not('.settlements .col01 input').click(function () {

            if($(":checked").not('.settlements .col01 input').length==$(":checkbox").not('.settlements .col01 input').length){
                $('.settlements .col01 input').prop('checked', true);
            }else{
                $('.settlements .col01 input').prop('checked', false);
            }
            total();
            checke_num();
        });
        $('.col08 a').click(function () {
            var grendparent = $(this).parent().parent();
            var cart_id = $(this).parent().prevAll("li:last").children().val();
            $.get('/cart/delete_goods/', {'cart_id': cart_id}, function (data) {

                if (data.ok == 'ok'){
                    {#                        这里的$(this)是请求对象，所以应该在get外面定义保存起来#}
                    grendparent.remove();
                    total();
                    checke_num();
                    jishu()
                }

            })
        });

        {#        输入框val值变化事件#}
        $('.num_show').bind('input propertychange', function() {
            if ($(this).val() != ''){
                total();
            }else {
                $('.col03 em').html('0.00')
            }
        });
        {#            失去焦点事件#}
        $('.num_show').blur(function () {
            var cid = $(this).parents('.cart_list_td').attr('id');
            var num = $(this).val();
            $.get('/cart/edit/', {'cid': cid, 'num': num})
        })
    })

</script>
{% endblock head %}



{% block center%}

	<div class="total_count">全部商品<em>{{ cart_info.count }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

 <form method="get" action="/order/to_pay/">
        {% for cart in cart_info %}
            <ul class="cart_list_td clearfix" id="{{ cart.id }}">
                <li class="col01"><input type="checkbox" name="cart_id" value="{{ cart.id }}" checked></li>
                <li class="col02"><img src="/static/media/{{ cart.goods.gpic }}"></li>
                <li class="col03">{{ cart.goods.gtitle }}<br><strong>{{ cart.goods.gprice }}元/{{ cart.goods.gunit }}</strong></li>
                <li class="col04">{{ cart.goods.gunit }}</li>
                <li class="col05">{{ cart.goods.gprice }}元</li>
                <li class="col06">
                    <div class="num_add">
                        <a href="javascript:;" class="add fl">+</a>
                        <input type="text" class="num_show fl" value="{{ cart.count }}">
                        <a href="javascript:;" class="minus fl">-</a>
                    </div>
                </li>
                <li class="col07">25.80元</li>
                <li class="col08"><a href="javascript:;">删除</a></li>
            </ul>
        {% endfor %}


        <ul class="settlements">
            <li class="col01"><input type="checkbox" name="" checked=""></li>
            <li class="col02">全选</li>
            <li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>2</b>件商品</li>
            <li class="col04"><input type="submit" value="去结算"></li>
        </ul>
    </form>
{% endblock center %}

