<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单支付</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            $('.popup_con').fadeIn('fast', function() {
                setTimeout(function(){
                    $('.popup_con').fadeOut('fast',function(){
                        window.location.href = '/order/all_order/';
                    });
                },3000)
            });
        });
    </script>
</head>
<body>
     <div class="popup_con">
		<div class="popup">
			<p>订单支付成功！</p>
		</div>

{#		<div class="mask"></div>#}
	</div>
</body>
</html>