{%extends 'base_top.html'%}

	{% block head %}
        <script>
            $(function () {
                $('.col04').each(function () {
                    var count = $(this).prev().html();
                    var price = $(this).attr('id');
                    var subtotal = parseFloat(price)*parseInt(count)
                    $(this).html(subtotal.toFixed(2)+"元")
                })
            })
        </script>
	{% endblock head %}
{% block center%}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_center_info/">· 个人信息</a></li>
				<li><a href="javascript:;" class="active">· 全部订单</a></li>
				<li><a href="/user/user_center_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            {% for order in page %}
                {% if order.0.oIsPay == 0 %}
                    <form method="post" action="/order/pay/">
                        <input type="hidden" name="oid" value="{{ order.0.oid }}">
                    <ul class="order_list_th w978 clearfix">
                        <li class="col01">{{ order.0.odate|date:"Y-m-j H:i:s" }}</li>
                        <li class="col02">订单号：{{ order.0.oid }}</li>
                        <li class="col02 stress">未支付</li>
                    </ul>

                    <table class="order_list_table w980">
                        <tbody>
                            <tr>
                                <td width="55%">
                                    {% for detail in order.1 %}
                                        <ul class="order_goods_list clearfix">
                                            <li class="col01"><img src="/static/media/{{ detail.goods.gpic }}"></li>
                                            <li class="col02">{{ detail.goods.gtitle|truncatechars:'15' }}<em>{{ detail.goods.gprice }}元/{{ detail.goods.gunit }}</em></li>
                                            <li class="col03">{{ detail.count }}</li>
                                            <li class="col04" id="{{ detail.goods.gprice }}">0.00元</li>
                                        </ul>
                                    {% endfor %}
                                </td>
                                <td width="15%">{{ order.0.ototal }}元</td>
                                <td width="15%">待付款</td>
                                <td width="15%"><input type="submit" value="去付款" class="oper_btn"></td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                {% else %}
                    <ul class="order_list_th w978 clearfix">
                        <li class="col01">{{ order.0.odate|date:"Y-m-j H:i:s" }}</li>
                        <li class="col02">订单号：{{ order.0.oid }}</li>
                        <li class="col02 stress">已支付</li>
                    </ul>
                    <table class="order_list_table w980">
                        <tbody>
                            <tr>
                                <td width="55%">
                                    {% for detail1 in order.1 %}
                                    <ul class="order_goods_list clearfix">
                                        <li class="col01"><img src="/static/media/{{ detail1.goods.gpic }}"></li>
                                        <li class="col02">{{ detail1.goods.gtitle|truncatechars:'15' }}<em>{{ detail1.goods.gprice }}元/{{ detail1.goods.gunit }}</em></li>
                                        <li class="col03">{{ detail1.count }}</li>
                                        <li class="col04" id="{{ detail1.goods.gprice }}">0.00元</li>
                                    </ul>
                                        {% endfor %}
                                </td>
                                <td width="15%">{{ order.0.ototal }}元</td>
                                <td width="15%">已付款</td>
                                <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="/order/all_order1/">首页</a>
                    <a href="/order/all_order{{ pindex|add:-1 }}/">上一页</a>
                {% endif %}
                {% for i in plist %}
                    {% if i == pindex %}
                        <a href="#" class="active">{{ i }}</a>
                    {% else %}
                        <a href="/order/all_order{{ i }}/">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                    <a href="/order/all_order{{ pindex|add:1 }}/">下一页></a>
                    <a href="/order/all_order{{ page.end_index }}/">尾页</a>
                {% endif %}
            </div>
		</div>
	</div>

{% endblock center %}
