{%extends 'base.html'%}
{% block title %}
	<title>天天生鲜-我的订单</title>
{% endblock title%}
	
{% block body%}

	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
                {% if request.session.user_id %}
				<div class="login_btn fl">
					欢迎您：<em>{{ uname }}</em>
                    <span>|</span>
					<a href="/user/logout/">退出</a>
                </div>
                {% else %}
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/user_center_order">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="javascript:;">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_center_info/">· 个人信息</a></li>
				<li><a href="javascript:;" class="active">· 全部订单</a></li>
				<li><a href="/user/user_center_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            {% for order in page %}
                {% if order.0.oIsPay == 0 %}
                    <form method="post" action="/tt_order/pay/">
                        <input type="hidden" name="oid" value="{{ order.0.oid }}">
                    <ul class="order_list_th w978 clearfix">
                        <li class="col01">{{ order.0.odate }}</li>
                        <li class="col02">订单号：{{ order.0.oid }}</li>
                        <li class="col02 stress">未支付</li>
                    </ul>

                    <table class="order_list_table w980">
                        <tbody>
                            <tr>
                                <td width="55%">
                                    {% for detail in order.1 %}
                                        <ul class="order_goods_list clearfix">
                                            <li class="col01"><img src="/static/media/{{ detail.goods.gpic }}"></li>
                                            <li class="col02">{{ detail.goods.gtitle|truncatechars:'15' }}<em>{{ detail.goods.gprice }}元/{{ detail.goods.gunit }}</em></li>
                                            <li class="col03">{{ detail.count }}</li>
                                            <li class="col04">{{ detail.price }}元</li>
                                        </ul>
                                    {% endfor %}
                                </td>
                                <td width="15%">{{ order.0.ototal }}元</td>
                                <td width="15%">待付款</td>
                                <td width="15%"><input type="submit" value="去付款" class="oper_btn"></td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                {% else %}
                    <ul class="order_list_th w978 clearfix">
                        <li class="col01">{{ order.0.odate }}</li>
                        <li class="col02">订单号：{{ order.0.oid }}</li>
                        <li class="col02 stress">已支付</li>
                    </ul>
                    <table class="order_list_table w980">
                        <tbody>
                            <tr>
                                <td width="55%">
                                    {% for detail1 in order.1 %}
                                    <ul class="order_goods_list clearfix">
                                        <li class="col01"><img src="/static/media/{{ detail1.goods.gpic }}"></li>
                                        <li class="col02">{{ detail1.goods.gtitle|truncatechars:'15' }}<em>{{ detail1.goods.gprice }}元/{{ detail1.goods.gunit }}</em></li>
                                        <li class="col03">{{ detail1.count }}</li>
                                        <li class="col04">{{ detail1.price }}元</li>
                                    </ul>
                                        {% endfor %}
                                </td>
                                <td width="15%">{{ order.0.ototal }}元</td>
                                <td width="15%">已付款</td>
                                <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="/tt_order/all_order1/">首页</a>
                    <a href="/tt_order/all_order{{ pindex|add:-1 }}/">上一页</a>
                {% endif %}
                {% for i in plist %}
                    {% if i == pindex %}
                        <a href="#" class="active">{{ i }}</a>
                    {% else %}
                        <a href="/tt_order/all_order{{ i }}/">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                    <a href="/tt_order/all_order{{ pindex|add:1 }}/">下一页></a>
                    <a href="/tt_order/all_order{{ page.end_index }}/">尾页</a>
                {% endif %}
            </div>
		</div>
	</div>

{% endblock body %}
